@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Shared classes starts here */
.primary-font{
font-family: "Merriweather", serif;
}
.secondary-font{
font-family: "Inter", sans-serif;
}
.text-center{
text-align: center;
}
.text-primary{
color: #FF0000;
}
.text-secondary{
color: #070211;
}
/* Shared classes ends here */

/* Header section starts here */
header{
height: 600px;
width: 1140px;
background-image: linear-gradient(rgba(7, 2, 17, 0.9), rgba(255, 255, 255, 0)),url("../images/banner.png");
background-size: cover;
background-position: center;
border-radius: 10px;
margin: 50px auto;
color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 150px;
}
.banner-sub-title{
font-size: 32px;
font-weight: 400;
line-height: 0;
}
.banner-title{
font-size: 72px;
font-weight: bolder;
}
/* Header section ends here */

/* Catagory section starts here */
.catagory{
margin-bottom: 150px;
}
.catagory-off{
font-size: 88px;
margin-bottom: 50px;
}
.catagory-title{
font-size: 24px;
font-weight: 600;
letter-spacing: 1px;
}
.catagory-sub-title{
font-size: 48px;
margin-top: 0;
}
/* Catagory section ends here */

/* Welcome section starts here */
.welcome{
height: 600px;
width: 1140px;
background-image: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(58, 58, 58, 0.1)), url("../images/group_70.png"),url("../images/vector.png") ;
background-position: center, right;
border-radius: 10px;
background-repeat: no-repeat;
margin: 50px auto;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
margin-bottom: 150px;
}
.welcome-container{
padding: 150px;
}
.banner-title{
font-size: 64px;
}
.banner-description{
font-size: 18px;
opacity: .8;
margin-bottom: 50px;
line-height: 30px;
}
.welcome-btn{
color: white;
font-weight: bold;
font-size: 20px;
}
.welcome-container a{
text-decoration: none;
}
/* Welcome section ends here */

/* Join section starts here */
.join{
width: 1140px;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;
background: linear-gradient(rgb(255, 0, 0, .1), rgba(255, 0, 0, 0));
border-radius: 10px;
}
.join-tile{
font-size: 32px;
font-weight: 600;
}
.join-btn{
padding: 15px 25px;
font-size: 18px;
font-weight: bold;
border: 1px solid #FF0000;
border-radius: 5px;
background-color: #FF0000;
color: white;
margin-top: 20px;
cursor: pointer;
transition: .3s;
}
.join-btn:hover{
background: linear-gradient(45deg, rgb(255, 0, 0, .1), rgba(255, 0, 0, 0));
color: #FF0000;
transition: .3s;
}
/* Join section ends here */

/* Best offer section starts here */
.best-offer{
width: 1140px;
height: 400px;
margin: 0 auto;
display: flex;
gap: 100px;
justify-content: center;
align-items: center;
margin-top: 150px;
margin-bottom: 150px;
}
.best-offer-first-div, .best-offer-second-div, .best-offer-third-div{
width: 33.33%;
}
.best-offer-first-div-sub-title{
font-size: 24px;
font-weight: 600;
}
.best-offer-first-div-title{
font-size: 48px;
line-height: 50px;
}
.best-offer-description{
font-size: 18px;
opacity: .6;
text-align: justify;
line-height: 30px;
}
.best-offer-img-div{
outline: 15px solid #FF0000;
border-radius: 50%;
}
.best-offer-img-div img{
margin: 20px;
}
.best-offer-third-div-title{
font-size: 48px;
line-height: 0;
}
.best-offer-third-div-img{
width: 20%;
margin-top: 30px;
}
/* Best offer section ends here */

/* Holiday section starts here */
.holiday{
width: 1140px;
height: 992px;
background-image: url("../images/group_44.png"), url("../images/group_75.png"), url("../images/rectangle_2.png");
background-repeat: no-repeat;
background-position: right, bottom left, bottom;
margin: 0 auto;
margin-top: 200px;
border-radius: 10px;
margin-bottom: 150px;
}
.holiday-sub-title{
font-size: 24px;
letter-spacing: 1px;
}
.holiday-title{
font-size: 72px;
line-height: 0;
}
.holiday-description{
font-size: 18px;
padding: 0 150px;
opacity: .6;
margin-top: 30px;
line-height: 30px;
}
/* Holiday section ends here */

/* Gift section starts here*/
.gift{
width: 1140px;
margin: 0 auto;
margin-bottom: 150px;
}
.gift-text-sub-title{
font-size: 24px;
font-weight: 600;
}
.gift-text-title{
font-size: 48px;
line-height: 0;
}
.gift-description{
font-size: 18px;
opacity: .6;
line-height: 30px;
}
.gift-images{
text-align: center;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 50px;
}
.gift-img{
width: 32%;
margin-bottom: 25px;
}
/* Gift section ends here*/

/* Footer section starts here */
.footer{
width: 1140px;
margin: 0 auto;
background: linear-gradient(rgb(255, 0, 0, 0.05), rgb(255, 0, 0, 0.05));
border-radius: 10px;
}
.footer-container{
padding: 100px;
}
.footer-title{
font-size: 48px;
}
.footer-description{
opacity: .6;
word-spacing: 1px;
line-height: 30px;
}
.footer-input{
padding: 15px 50px;
border: none;
box-shadow: 5px 5px 10px rgb(211, 211, 211);
outline: none;
}
input[type="email"]{
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
margin-right: -5px;
background-color: rgb(255, 255, 255);
font-size: 20px;
border: 1px solid white;
}
input[type="submit"]{
border-top-right-radius: 40px;
border-bottom-right-radius: 40px;
background-color: #FF0000;
color: white;
font-size: 20px;
border: 1px solid #FF0000;
transition: .3s;
cursor: pointer;
}
.copyright{
opacity: .6;
padding: 10px 0;
}
/* Footer section ends here */




/* Responsive design starts here (For mobile) */
@media screen and (max-width:576px) {
header, .catagory, .welcome, .join, .best-offer, .holiday, .gift, .footer{
    margin-bottom: 50px;
}
header, .welcome, .join, .gift-img, .best-offer, .best-offer-first-div, .best-offer-second-div, .best-offer-third-div, .holiday{
    width: 100%;
}
.best-offer-third-div-img, .best-offer-description, .best-offer-first-div > h2, h4, p,  .best-offer-third-div > h2, .join-tile,.banner-title, .holiday-sub-title, .holiday-title,     .holiday-description,  .footer-title {
    padding: 0 20px;
}
.catagory-img img{
    width: 100%;
}
.welcome-container{
    text-align: justify;
}
.banner-title, .holiday-title {
    font-size: 54px;
}
.holiday-description, .best-offer-description{
    padding: 0;
}
.best-offer-third-div-img, .best-offer-description, .best-offer-first-div > h2, h4, p,  .best-offer-third-div > h2, .join-tile,.banner-title, .holiday-sub-title, .holiday-title,     .holiday-description,  .footer-title {
    padding: 0 20px;
}
.welcome-btn,   .welcome-container{
    padding: 10px;
}
.join{
    padding: 10px 0;
}
.join-btn{
    margin-bottom: 10px;
}
.join-tile,.banner-title, .holiday-sub-title, .holiday-title {
    text-align: left;
}
.best-offer {
    flex-direction: column;
    height: auto;
}  
.best-offer-img-div img,  .gift{
    max-width: calc(100% - 40px);
}
.best-offer-third-div-img, .footer-container img{
    width: 90%;
}
.holiday{
    height: auto;
    background-image: none;
}
.holiday-title, .gift-text-title{
    line-height: 80px;
}
.gift-text-title, .gift-text-sub-title, .gift-description{
    padding: 0 5px;
}
.gift-description, .holiday-description, .footer-container {
    text-align: justify;
}
.gift,  .footer-container{
    padding: 10px;
}
.gift-images{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer {
    max-width: 100%;
}
.footer-container img{
    padding: 0 10px;
}
input[type="email"], input[type="submit"]{
    margin-bottom: 20px;
    border-radius: 40px;
    margin-left: 20px;
    width: 60%;
    text-align: left;

}
}